@charset "UTF-8";

/* Estilo para impressora */

* {
    padding: 10px;
    margin: 10px;
}

html,body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    content: 'Esse artigo foi impresso através da Sara';
}