@charset "UTF-8";

@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }

    nav {
        display: block;
    }

    nav li { 
        display: inline-block;
    }

    main {
        width: 768px;
    }
}